<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.herblabs.herbifyapp">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Herbifyapp"
        tools:targetApi="m">
        <activity android:name=".view.ui.detail.recipe.DetailRecipeActivity"/>
        <activity android:name=".view.ui.signin.SignInActivity" />
        <activity android:name=".view.ui.identify.IdentifyActivity" />
        <activity android:name=".view.ui.splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ui.welcome.WelcomeActivity" />
        <activity android:name=".view.ui.search.SearchActivity" />
        <activity android:name=".view.ui.main.MainActivity" />
        <activity android:name=".view.ui.camera.CameraActivity" />
        <activity android:name=".view.ui.detail.herb.DetailHerbActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>